.container {
    background-color: rgb(56, 56, 56);
}

h1 {
    color: goldenrod;
    text-align: center;
}

.form-floating {
    margin: 25px;
}

.form-check-label {
    color: white;
}

.btn {
    margin: 25px;
}

/* On Result Paage */

h3 {
    margin: 25px;
    color: white;
}